<h1>Ad Transcoding Viewer</h1>

<select id="selector">
	<option selected="selected"></option>
	<option value="0" >KnownProblem</option>
	<option value="1">KnownSuccess</option>
	<option value="2">19864999 - d59100c7582d7dcf18880cc3c9d39bdb</option>
	<option value="3">19864999 - 22380f94e2554b189a8fbc7eadb01e53</option>
</select>
<div id="players"></div>
<script>
	//pull out renditions array
	var adRenditions = adStatus["adDatas"];

	// add a new option to array 
	adOptions[3] = new ad(adMetadata, adRenditions);

	//--------End Data------------------

	// assign selector element to variable
	var selector; 

	// on change create players
	selector = document.getElementById("selector")
	selector.onchange = function(){
		var value = this.options[this.selectedIndex].value
		console.log(value);
		createPlayers(value);
	};


</script>