<h2>Client-Side Demo</h2>
<p>
  JW Player with Viacom content
</p>
<div id= "client">This text will be replaced with a player.</div>

<text></text>
<script>
	$( document ).ready(function() {
	    console.log( "ready!" );
	    requestMedia(video.mediaGenUrl, 'mediaGen', adConfig)
	
	
	});
	

</script>
