<h2>Server Side Demo</h2>
<p>
  JW Player with Viacom content and stitching service
</p>
<div id= "ssai">This text will be replaced with a player.</div>

<text></text>
<script>
	$( document ).ready(function() {
	    console.log( "ready!" );
	    requestMedia(video.seamlessUrl, 'seamless')
	
	});
	

</script>
