<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<div id= "client">This text will be replaced with a player.</div>
<div id= "ssai">This text will be replaced with a player.</div>

<text></text>
<script>
	$( document ).ready(function() {
	    console.log( "ready!" );
	    requestMedia(video.mediaGenUrl, 'mediaGen', adConfig)
		requestMedia(video.seamlessUrl, 'seamless')
	
	});
	

</script>
